
body {
  font-family: 'Poppins', serif;
  text-align: center;
  color: #424242;
  font-size: 28px;
}

h1 {
  font-family: 'Impact', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #424242;
  padding-top: 30px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}
