<html lang="en">
<head>
  <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Bitcoin Price Tracker</h1>
    </div>
    <button type="button" onClick="getBTC()">Get Bitcoin Price</button>
    <button type="button" onClick="get31Days()">See Last 30 Days</button>
    <div class="error-message"></div>
 <div class="generationTime">

  </div>

  <div class="btcPrice">

  </div>

  <div class="lastMonthPrices">

  </div>
  <div class="image-responsive">

  </div>  

  <img class = "image-responsive" src="https://financialcommission.org/wp-content/uploads/2017/11/bitcoin.png" alt="BTC" height = 500>

</body>

</html>
