<html lang="en">
<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-headecr">
    <% include ../helpers/navbar %>
  
    <h1>Database Web App</h1>
    </div>
    <button onClick="handleSignIn()">Login</button>

    <form onSubmit="handleMessageFormSubmit()"action="#">
      <br>Name:<br>
      <input id="post-name">
      <br>Workout:<br>
      <textarea id="post-workout"></textarea>
      <br>Distance:<br>
      <textarea id="post-distance"></textarea>
      <br><button>Submit</button><br>
    </form>

    <div id="post-listing"></div>
    <div class="error-message"></div>

</body>
</html>
