<html lang="en">
<head>
  <% include ../helpers/head %>
</head>

<div class = "body">
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    </div>
    <br><br>
	<h1>Welcome to my first web app!</h1>
	<button onClick="handleSignIn()">Login</button>
	<div class="input-append btn-group">
	</div>


    <form onSubmit="handleMessageFormSubmit()"action="#">


      <br>Name:<br>
      <input id="post-name">
      <br>Workout:<br>
      <textarea id="post-workout"></textarea>
      <br>Distance:<br>
      <textarea id="post-distance"></textarea>
      <br><button>Submit</button><br>
    </form>

    <div id="post-listing"></div>
    <div class="error-message"></div>

</body>
</html>

</html>
