<html lang="en">
<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>NASA API Integration</h1>
    </div>

    <button type="button" onClick="getEarthPic()">Get Earth Picture of the Day</button>
    <div class="error-message"></div>
    <br>

  <div class="earthVidTitle">

  </div>
  <h2> </h2>
  <div class="earthExp">

  </div>


  <div class="earthVid">
  </div>



</body>
</html>
</html>
