<html lang="en">
<head>
  <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">
    <% include ../helpers/navbar %>
  </div>
  <br><br><br><br>
    <a href="#" class="square-button" style="margin:200 auto" onClick="getAdvice()">
      <span>Generate Advice</span>
    </a>

  <div class="advice"></div>

</body>
</html>

