<html lang="en">
<head>
  <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">
	<% include ../helpers/navbar %>
	</div>
	<div class="error-message"></div>
	<h2> 
		<div class="container">
		  <div style="padding: 50px;" class="text-block"> 
		  	<div class="earthVidTitle"></div>
		  	<div class="earthExp"></div>
		  </div>
		</div>

		<a href="#" class="square-button" style="margin:200 auto; font-size: 90px" onClick="getEarthPic()">	
	      <span>EPOD</span>
	    </a>
	</h2>

</body>
</html>
</html>

