<meta charset="UTF-8">
<title>Sook-Hee's Simple Web App</title>


<!-- First we import our css files -->

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!-- Google font CSS -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">


<!-- this app's own css -->
<link rel="stylesheet" type="text/css" href="css/main.css"/>



<!-- Next import js files -->

<!-- first we import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- then bootstrap -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
        <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-database.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "<%= process.env.FIREBASE_API_KEY %>",
    authDomain: "hubspot-webapp.firebaseapp.com",
    databaseURL: "https://hubspot-webapp.firebaseio.com",
    projectId: "hubspot-webapp",
    storageBucket: "hubspot-webapp.appspot.com",
    messagingSenderId: "312077459444",
    appId: "1:312077459444:web:14ebb6b996c365ce"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<!-- API key -->
<script>var apiKey="<%= process.env.API_KEY%>";</script>

<!-- then our app's own js file -->
<script src="js/main.js"></script>
