<ul class = "nav">
	<li class="nav-item"><a class = "nav-link" href = "/">Home</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/weather">Weather Tracking</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/btc">BTC Tracking</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/advice">Advice</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/nasa">NASA</a></li>
</ul>

