<ul class = "nav">
	<li class = "favicon"><a href="#">
		<img src="/images/advice.png" height=70 width=80></a></li>

	<li class="nav-item"><a class = "nav-link" href = "/">Home</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/weather">Weather</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/btc">BTC</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/advice">Advice</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/nasa">NASA</a></li>
	<li class="nav-item"><a class = "nav-link" href = "/swim-tracker">Workouts</a></li>
</ul>
